{% extends "./templates/base.html" %}

{% block title %}Graph Result{% endblock %}

{% block extrahead %}
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <script src="js/generate_dice_rolls.js" charset="utf-8"></script>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Production Version of Vue... -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <style>
    body {
      width: 100%;
      height: 100%;
      font-family: monospace;
    }

    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>D3.JS Graph</h1>
  <div id='graph'></div>

  <div id="number_list">
    numbers: [[numbers]]
    <br>
  </div>

  <!-- Setup of Data -->
  <script>
    datadict = {
      1 :  { 'val':1, 'fill_colour':'#3c763d' },
      2 :  { 'val':1, 'fill_colour':'#3c763d' },
      3 :  { 'val':1, 'fill_colour':'#3c763d' },
      4 :  { 'val':1, 'fill_colour':'#3c763d' },
      5 :  { 'val':2, 'fill_colour':'#FF0000' },
      6 :  { 'val':1, 'fill_colour':'#3c763d' },
      7 :  { 'val':1, 'fill_colour':'#3c763d' },
      8 :  { 'val':1, 'fill_colour':'#3c763d' },
      9 :  { 'val':1, 'fill_colour':'#3c763d' },
      10 : { 'val':1, 'fill_colour':'#3c763d' },
    };

    datadict = generate_dict_for_chart('4d6', 10000)

    // data = [1,2,1,5,9,6]
    data = d3.entries(datadict);
  </script>



  <!-- draw d3 graph -->

  <script>


    height = 200;
    width = 720;
    barWidth = 30;
    barOffset = 5;

    d3.select('#graph')
      .append('svg')
      .attr('width', width)
      .attr('height', height)
      .style('background', '#dff0d8')
        .selectAll('rect').data(data)
          .enter().append('rect')
          .attr('width', barWidth)
          .attr('height', function (d) {return get_val(d);})
          .attr('x', function (d, i) {return i * (barWidth + barOffset);})
          .attr('y', function (d) {return height - get_val(d);})
          .attr('style', function (d) { return get_style(d)});

    
    function get_val(d) {
      if (typeof max_val == 'undefined') {
        max_val = 1500
        /** this is just a filler value for now */
      }

      raw_val = d['value']['val']
      return_value = raw_val * (150/max_val)
      return return_value
    }

    function get_style(d){
      this_fill_colour = get_colour(d)

      ret_string = ''

      ret_string += 'fill:' + this_fill_colour + ';'
      ret_string += ' stroke: #d6e9c6;'
      ret_string += ' stroke-width: 5;'

      console.log(ret_string)

      return ret_string
    }

    function get_colour(d){
      return d['value']['fill_colour']
    }


  </script>

  <!-- vue js stuff -->
  <script type="text/javascript">

    function get_important_data(dict_ele) {
      key = dict_ele['key']
      value = dict_ele['value']['val']
      return key + ':' + value
    }

    just_numbers = data.map(get_important_data)

    const app = new Vue({
      delimiters: ['[[', ']]'],
      el: "#number_list",
      data: {
        numbers: just_numbers
      }
    })
  </script>
{% endblock %}
