<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
    <meta name="theme-color" content="#343a40">

    {% assets "all_js" %}
      <script type="text/javascript" src=".{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "all_css" %}
      <link rel="stylesheet" href=".{{ ASSET_URL }}" type="text/css">
    {% endassets %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">

    <!-- Start Additional Header Part -->
    <title>{% block title %}Seagull Example{% endblock %}</title>
    {% block extrahead %}
    {% endblock %}
  </head>

  {% include 'templates/header.html' %}

  <section id='main-section'>
  <body>
      {% block content %}
      {% endblock %}
  </body>
  </section>

</html>
